
body{
	font-family: 'DotGothic16', sans-serif;

	background: black;
	margin: 0px;
}

@font-face {
	font-family: 'DotGothic16', sans-serif;

	src: url(/fonts/DotGothic16-Regular.ttf’) format(‘truetype’) }

p{
	color: #FFA9F2;
	font-family: 'DotGothic16', sans-serif;
}
a{color: white;}

img.headline{
display: block;
	}

img.work1{
	margin: auto;
	margin-top: 0px;
	margin-bottom: 20px;
}

h2.contact{
	font-family: 'DotGothic16', sans-serif;
	color: #C425FF
 display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media all and (max-width 560px){
	.headline{width: 100%}
}

@media all and (max-width 560px){
	.work1{width: 100%}
}

@media all and (max-width 560px){
	.contact{width: 100%}
}
html{
white-space:nowrap;
}
body {
display:inline-block;
overflow-x: hidden
}